body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,rgba(48,50,130,255),rgba(213,208,125,255) );
}
button{
    background-color:rgba(48,50,130,255);
    width: 300px;
    height: 80px;
    border-radius:25px;
    font-size: 30px;
    font-style: italic;
    color: rgba(213,208,125,255);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    margin-top: 20px;
}
button:active{
    background-color: rgba(213,208,125,255);
    color:rgba(48,50,130,255);
}
button:hover {
    width: 350px;
    height:100px;
    font-style: normal;
    font-size: 38px;
}
.citation{
    background-color: white;
    width:1200px;
    height: 600px;
    margin-top: 20px;
    border: 10px dashed rgba(48,50,130,255) ;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
p{
    font-size: 50px;
    font-family:'Satisfy', cursive;
    color:rgba(48,50,130,255);
    font-weight: 500;
    text-shadow: rgba(213,208,125,255) 4px 2px 10px;
    margin:150px 100px 0 100px ;
}
.auteur{
    font-family: none;
    font-size: 30px;
    font-style: italic;
    margin-top: 100px;
}
/*rgba (213,208,125,255) jaune*/
/*rgba(48,50,130,255)bleu*/